Redirect 301 /index.html https://github.com/pyload/updates/raw/master/plugins.txt
Redirect 301 /index.php https://github.com/pyload/updates/raw/master/plugins.txt

RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{REQUEST_URI} ^(?!/updater.php$)
RewriteRule ^  - [R=403,L]
